@model DP.Models.Auth.DbCache

@{
	ViewData["Title"] = "Оферти";
}
<style>
	.durjach {
		justify-content: space-evenly;
		display: flex;
		height: fit-content;
	}

	.displayRecently {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.img1s {
		width: 25%;
		float: left;
	}

	.topRight {
		position: relative;
	}

	* {
		box-sizing: border-box;
	}

	.column {
		float: left;
		width: 24%;
		background-color: #f7fff5;
		border-left-color: transparent;
		padding: 1%;
		box-shadow: 1px 5px 5px 1px gray;
		margin: 0.2%;
		border-radius: 2px;
		border: 3px solid green;
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}

	.row::after {
		clear: both;
		display: table;
	}

	.boxedImg {
	}

	.cenaProd {
		background-color: #d8e8d9;
		height: 25px;
		border: 2px solid green;
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-radius: 2px;
	}

	.boxed {
		display: flex;
		flex-direction: column;
	}

	//https://i.ibb.co/VjLpcKz/5a363ca9045746-2264912215135039130178.png
</style>


<div class="durjach">

	@{bool isAdmin = false;}

	@{
		string sessionId = Context.Request.Cookies["SessionId"];

		bool potentialEmpty = false;

		if (sessionId == string.Empty || !Model.sessions.Any(s => s.SessionId == sessionId))
		{
			potentialEmpty = true;
		}
		else
		{
			isAdmin = Model.sessions.FirstOrDefault(s => s.SessionId == sessionId)?.Account?.Role == "Admin";
		}
	}

	<div class="displayRecently">
		@{
			foreach (var offer in Model.offers)
			{
					<div class="column" id="comunSize">
						<img src="data:image/png;base64,@($"{offer.Base64Img}")" style="width: 40%; height: 20%; margin: 3%; float: left; border:1px solid black ">
						<div class="boxed">
							<div style="text-align:left; display:inline-block; ">
								<div class="cenaProd"> <span style="color: #00000f; font-family:Cambria; font-weight:700; font-size:1.05em">ЦЕНА:</span> @($"{offer.Price:0.00}") лв.</div>
							</div>
							<div style="overflow: hidden; word-break: break-all; max-height:20px;"><span style="color: #00000f; font-family:Cambria; font-weight:700; font-size:1.05em">ГРАД: </span>@($"{offer.City}")</div>
							<div style="overflow: hidden; word-break: break-all; max-height:70px;"><span style="color: #00000f; font-family:Cambria; font-weight:700; font-size:1.05em">УЛИЦА: </span>@($"{offer.Street}")</div>
							<div style="overflow: hidden; word-break: break-all; max-height:140px; "><span style="color: #00000f; font-family:Cambria; font-weight:700; font-size:1.05em;">ОПИСАНИЕ: </span>@($"{offer.Description}")</div>
						</div>
						<div class="btnNinfoholder">
							<div class="infoStatusBuild">
								@{
								switch (offer.State)
								{
									case "reserved":
												<span class="infoStatusBuildTxtReserved">Резервирано</span>
										break;
									case "available":
												<span class="infoStatusBuildTxtAvailable">Налично</span>
										break;
									case "sold":
												<span class="infoStatusBuildTxtSold">Продадено</span>
										break;
								}
								}
								@{
								if (isAdmin)
								{
											<form action="Offers/EditOffer" method="post">
												<input type="hidden" name="id" value="@offer.Id" />
												<button type="submit" style=" width: 33px; text-align:center;" class="btnEdit1">✎</button>
											</form>
											<form action="Offers/DeleteOffer" method="post">
												<input type="hidden" name="id" value="@offer.Id" />
												<button type="submit" style=" width:33px; text-align:center; " class="btnEdit2">✖</button>
											</form>
								}
								}
							</div>
						</div>
					</div>
			}
		}
	</div>
</div>

@{
	if (isAdmin)
	{
	<div class="addBtnMain">
				<a href="/Offers/CreateOffer" class="addBtnMainEffects">Добави обява</a>
	</div>
	}
}
